{% extends 'base/bases.html' %}
{% block content %}
<h4><i class="fa fa-angle-right"></i>Zabbix管理----新建主机组</h4>
<br />
            <form class="form-horizontal style-form" method="post" action="{% url "creategroupurl" %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" name="group_name" class="form-control round-form" placeholder="组名" style="width:500px"/>
                        <br />
                        <input type='submit' class="btn btn-theme02" value='保存' />
                    </div>
                </div>
            </form>
{% endblock %}
