{% extends 'base/bases.html' %}
{% block content %}
<h4><i class="fa fa-angle-right"></i>维护期间----维护周期列表</h4>
<br />
<table id="table_id" class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>name</th>
            <th>groups</th>
            <th>hosts</th>
            <th>status</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for i in list %}
        <tr>
            <td>{{i.name}}</td>
            <td>
                {% for j in i.groups %}
                {{j}}
                <br />
                {% endfor %}
            </td>
            <td>
                {% for j in i.hosts %}
                {{j}}
                <br />
                {% endfor %}
            </td>
            <td>
                {% if i.status == 1 %}
                <span class="label label-success">On</span>
                {%else%}
                <span class="label label-danger">Off</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'delmaintenanceurl' i.name %}"<button type="button" class="btn btn-danger btn-xs" onclick="return confirm('是否删除？')"><i class="fa fa-trash-o"></i></button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'createmaintenanceurl' %}"><input type="button" class="btn btn-theme02" value="新建维护周期" /></a>
{% endblock %}
