{% extends 'base/bases.html' %}
{% block content %}
<h4><i class="fa fa-angle-right"></i>zabbix管理----未部署列表{{PNAME}}</h4>
<br />
<section id="unseen">
    <table id="table_id" class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>未部署</th>
            </tr>
        </thead>
        <tbody>
            {% for i in notdeploylist %}
            <tr>
                <td>{{i}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <thead>
            <tr>
                <th>DB</th>
            </tr>
        </thead>
        <tbody>
            {% for i in  dbhostlist%}
            <tr>
                <td>{{i}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="button" class="btn btn-theme02" onclick="javascript:history.back(-1);" value="返回上一页" />
</section>
{% endblock %}
