{% extends 'base/bases.html' %}
{% block content %}
<script type="text/javascript">
function openShutManager(oSourceObj,oTargetObj,shutAble,oOpenTip,oShutTip){
    var sourceObj = typeof oSourceObj == "string" ? document.getElementById(oSourceObj) : oSourceObj;
    var targetObj = typeof oTargetObj == "string" ? document.getElementById(oTargetObj) : oTargetObj;
    var openTip = oOpenTip || "";
    var shutTip = oShutTip || "";
    if(targetObj.style.display!="none"){
        if(shutAble) return;
        targetObj.style.display="none";
        if(openTip  &&  shutTip){
            sourceObj.innerHTML = shutTip; 
        }
    } else {
        targetObj.style.display="block";
        if(openTip  &&  shutTip){
            sourceObj.innerHTML = openTip; 
        }
    }
}
</script>
<h4><i class="fa fa-angle-right"></i>zabbix管理----proxylist</h4>
<br />
            <section id="unseen">
                <table id="table_id" class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>proxyid</th>
                            <th>proxyname</th>
                            <th>包含的主机数</th>
                            <th>包含的主机</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in proxy %}
                        <tr>
                            <td>{{i.proxy.proxyid}}</td>
                            <td>{{i.proxy.host}}</td>
                            <td>{{i.count}}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal-host" onclick="openShutManager(this, '{{i.proxy.proxyid}}')">展开查看主机</button>
                                <p id="{{i.proxy.proxyid}}" style="display:none">
                                    {% for j in i.proxy.hosts %}
                                    <a href="{% url 'hostinfourl' j.host %}">{{j.host}}</a>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'hostinfourl' j.host %}">{{j.name}}</a>
                                    <br />
                                    {% endfor %}
                                </p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
{% endblock %}
