{% extends 'base/bases.html' %}
{% block content %}
<h3><i class="fa fa-angle-right"></i>zabbix管理</h3>
<form action="" methon='post'>
    <div class="row mt">
        <div class="col-lg-12">
            <div class="content-panel">
                <h4><i class="fa fa-angle-right"></i> 模板列表</h4>
                <section id="unseen">
                    <table id="table_id" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Host</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in list %}
                            <tr>
                                <td>{{i.templateid}}</td>
                                <td><a href="{% url 'updatetemplateurl' i.name %}">{{i.host}}</a></td>
                                <td><a href="{% url 'updatetemplateurl' i.name %}">{{i.name}}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div><!-- /content-panel -->
        </div><!-- /col-lg-4 -->
    </div><!-- /row -->
    <br />
    <input type='submit' class="btn btn-theme02" value='新增模板' />
</form>
<div class="modal fade" id="myModal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">操作确认</h4>
            </div>
            <div class="modal-body">
                确认修改操作
            </div>
            <div class="modal-footer">
                <a><button type="button" class="btn btn-primary">确认</button></a>
                <a><button type="button" class="btn btn-default" data-dismiss="modal">取消</button></a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">操作确认</h4>
            </div>
            <div class="modal-body">
                确认删除操作
            </div>
            <div class="modal-footer">
                <a><button type="button" class="btn btn-primary">确认</button></a>
                <a><button type="button" class="btn btn-default" data-dismiss="modal">取消</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
