{% extends 'base/bases.html' %}
{% block content %}
<h4><i class="fa fa-angle-right"></i> 配置管理----修改IDC</h4>
<br />
<!-- BASIC FORM ELELEMNTS -->
<form class="form-horizontal style-form" method="post" action="{% url 'editidcurl' ID%}">
    {% csrf_token %}
    {% for item in form %}
    <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">{{item.label}}</label>
        <div class="col-sm-10">
            {{item}}
            {% if item.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{item.errors}}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-theme02">保存更改</button>
            <input type="button" class="btn btn-theme02" onclick="javascript:history.back(-1);" value="返回上一页" />
        </div>
    </div>
</form>
{% endblock %}
